
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

header > h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 10vh;
    text-align: center;
    margin-bottom: 10px;
}

header > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    padding-bottom: 20px;
}

header > h2 > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2vh;
    font-weight: bold;
}

header > h2 > a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    padding: 10px;
    margin: auto;
    margin-bottom: 70px;
}

article > p {
    font-family: 'Sriracha', cursive;
    text-align: left;
    font-size: 3vh;
    padding: 50px 0px 100px 40px;
    line-height: 2em;
}

#primeira {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    padding-top: 50px;

}

.paragrafodaimagem {
    text-decoration: underline
}

#segunda {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    margin: auto;
}

footer > p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
}