
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

nav > h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 5em;
    text-align: center;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

nav > h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav {
    background-color: black;
}

article > p {
    font-family: 'Sriracha', cursive;
}
