@charset "UTF-8";

h1{
    font-size: 50px;
    color: #c39509;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 3px black;
}

h2{
    font-size: 40px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgb(2, 46, 82);
    text-align: center;
}

h3{
    font-size: 25px;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgb(12, 122, 165);
    text-align: center;
}

p{
    font-size: 20px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    object-position: 50% 50%;
    padding: 20px;
    width: 900px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 15px 10px 30px #093050c2;
    background-image: linear-gradient(to bottom, #0c047a, #3457E1, #00C8Fa);
    align-items: center;
}

body{
    background-image: linear-gradient(to bottom, #091AC5, #3e519e, #50bfdb);
    background-attachment: fixed;
}

a{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #020d3f;
    text-align: right;
    box-shadow: 2px 2px 3px rgba(7, 196, 202, 0.76);
    
}

img{
    object-position: 50% 50%;
}

button{
    box-shadow: 5px 5px 15px rgba(40, 40, 226, 0.767);
    padding: 15px;
    border-radius: 15px;
    border-color: #000000;
    background-image: linear-gradient(to bottom, #0c047a, #344caf, #00C8Fa);
    margin: auto;
    text-align: center;
    width: 900px;
}

div{
    padding: 2px;
    margin: auto;
}


