/* Configuração para dispositivos em modo horizontal - landscape */

body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}